@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body, a {
    font-family: 'Open Sans', sans-serif !important;
    color: var(--primary-color);
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color-dark);
    font-weight: bold;
}


h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}
